<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="herramientas container" >
		<button id="jpeg" onclick="download()">Descargar</button>
		<input type="file" id="cargar" oninput="cargarImagen()">
		<img src="" id="img">
	</div>
	<canvas id="canvas"></canvas>
	<div class="colores container"></div>
	<div onclick="cleanWhiteboard()" id="tool-bar-icons"><img id="tool-bar-icon" src="icons\trash-solid.svg"></div>
	<div onclick="pickEraser()" id="tool-bar-icons"><img id="tool-bar-icon" src="icons\eraser-solid.svg"></div>
	<div onclick="pickPencil()" id="tool-bar-icons"><img id="tool-bar-icon" src="icons\pencil-alt-solid.svg"></div>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>