*{
	margin:0;
	padding:0;
	/*cursor: url(../icons/pencil-cursor.png),auto;*/
	  cursor: url(../icons/pencil-cursor.png), auto;

}

*{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
body{
	background: #191919;
}

canvas{
	margin-left: calc(50vw - 300px);
	margin-top: calc(50vh - 300px);
	position: absolute;
}

.menu{
	position: absolute;

	width: 200px;
	height: 100vh;
	margin-left: -400px;

	background: #ecf0f1;

	transition: .3s linear;
}
	.sub-menu{
		display: grid;
		width: 100px;
		height: auto;
		margin-left: 25px;
		margin-top: 50px;

		grid-template-columns:  40px 40px 40px 40px;
		grid-auto-rows: 40px;

		background: #ecf0f1;
	}
		.section{
			position: absolute;

			margin-left: -20px;
			margin-top: 10px;
		}



.button{
	width: 40px;
	height: 40px;
	margin:10px 10px;
	padding: 5px;

	border-radius: 10px;
	background: #fff;

	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

	.button>div{
		width: 40px;
		height: 40px;

		border-radius: 10px;
		background: none;
	}

.open-button{
	background: #dfe6e9;
}
	.open-button:hover{
		background: #b2bec3;
	}

.large-button{

	width: 100px;
	height: auto;
	padding: 10px;

	border-radius: 10px;
	background: #dfe6e9;

	font-family: lato;
	font-size: 5mm;
	text-align: center;

	box-shadow: 2px 2px 2px rgba(0,0,0,.5);

}
/*--------------------------------*/
/*	      	 OPTION BAR 		  */
/*--------------------------------*/

#option-bar{
	/*display: none;*/
	position: absolute;

	width: 70px;
	height: 100vh;

	background: #2d3436;
}

/*--------------------------------*/
/*	      	  COLORES 			  */
/*--------------------------------*/

.colores{
	position: absolute;

	display: flex;
	width: 600px;
	height: 30px;
	margin-left: calc(50vw - 300px);
	margin-top: 15px;
	padding: 5px;

	background: #2d3436;

}

#color-menu{}


#color-bar{
	position: absolute;
	
	width: 200px;
	height: 100vh;
}


	.color-show{
		display: grid;

		margin-left: 20px;
		margin-top: 30px;

		grid-template-columns:  40px 40px 40px 40px;
		grid-auto-rows: 40px;
	}

	.colorButton{
		margin-top: 20px;
		margin-left: 40px;

	}

		#my-color-bar{
			margin-top: 100px;
			
			border:1px solid #000;
		}


#open-color-menu>div{

	background: url("../icons/palette-solid.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

	.color{
		width: 30px;
		height: 30px;

		background: #b22;
	}
		.color:hover{

			width: 22px;
			height: 22px;

			border: 4px solid white;
		}

/*--------------------------------*/
/*  		  TOOL BAR            */
/*--------------------------------*/
#tool-menu{}

	#tool-bar{
		margin-top: 150px;
	}


	.bar-icon {
		width: 25px;
		height: 25px;
		padding: 5px;	

		border-radius: 5px;

		box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	}


		.bar-icon:hover {
			background: #dfe6e9;

			box-shadow: 0px 0px 5px rgba(0,0,0,.9);
		}


#open-tool-menu>div{
	background: url("../icons/wrench-solid.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}



/*------------------------------*/
/*         STROKE RANGE         */
/*------------------------------*/

.stroke-width{
	position: absolute;

	height: auto;
	width: 200px;
	padding: 10px 0;

	box-shadow: 2px 2px 2px rgba(0,0,0,.3);
	-webkit-appearance: none;

}

	.stroke-width>h4{
		margin-left: 20px;

		font-size: 4mm;
		font-family: lato;
	}
	.stroke-range{
		width: 100%;
		margin-top: 10px;
	}



input[type=range] {
  width: 90%;
  height: 26px;
  margin: 0px 5%;
  
  background: none;

  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;

  background: #FCFFFF;
  border-radius: 5px;
  border: 1px solid #000000;
  
  box-shadow: 1px 1px 1px #000000;
  cursor: pointer;
  
  animate: 0.2s;
}
input[type=range]::-webkit-slider-thumb {
  width: 14px;
  height: 18px;
  margin-top: -6.5px;

  border: 1px solid #000000;
  border-radius: 5px;
  background: #D1D1D1;

  box-shadow: 1px 1px 1px #000000;
  cursor: pointer;

  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FCFFFF;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  
  background: #FCFFFF;
  border-radius: 5px;
  border: 1px solid #000000;
  
  box-shadow: 1px 1px 1px #000000;
  cursor: pointer;
  
  animate: 0.2s;
}
input[type=range]::-moz-range-thumb {
  width: 14px;
  height: 18px;
  
  border: 1px solid #000000;
  border-radius: 5px;
  background: #D1D1D1;
  
  box-shadow: 1px 1px 1px #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  
  
  color: transparent;
  
  cursor: pointer;
  
  background: transparent;
  border-color: transparent;
  
  animate: 0.2s;
}
input[type=range]::-ms-fill-lower {
  background: #FCFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
  
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #FCFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
  
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  width: 14px;
  height: 18px;
  margin-top: 1px;
  
  border: 1px solid #000000;
  border-radius: 5px;
  background: #D1D1D1;
  
  box-shadow: 1px 1px 1px #000000;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FCFFFF;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FCFFFF;
}