*{
	margin:0;
	padding:0;
}
body{
	background: #191919;
	/*display: flex;*/
}

canvas{
	position: absolute;
	margin-top: calc(50vh - 300px);
	margin-left:  calc(50vw - 300px);
}




.colores{
	width: 100px;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

.color{
	width: 25px;
	height: 25px;
}

